
#background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}


.content {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  margin-top: 20vh;
  font-family: Arial, sans-serif;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
}


.custom-link {
  text-decoration: none; 
  color: inherit;         
}

@font-face {
  font-family: 'HightNotes';
  src: url('HIGH\ NOTES.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'MyCustomFont', sans-serif;
}

h1 {
  font-family: 'HightNotes', sans-serif;
}